{% comment %}V3.0.2 - October 2019
This liquid snippet is used by Discount Ninja, an app from Limoni Apps
Do not modify or remove this snippet, this snippet can be overwritten when the app is upgraded
{% endcomment %}

<div id="limoniapps-discountninja-notification-template" style="display:none;">
  <div data-notify="container" class="limoniapps-notification [[CLOSEABLE]] [[MINIMIZABLE]] [[HASOFFERCOUNT]] [[ACTIVE]] [[POSITION]]" role="alert">
    <span class="limoniapps-offercount"></span>
    <div class="limoniapps-box">
      <div class="limoniapps-notification-buttons">
        <a class="limoniapps-close" data-notify="dismiss">
          <div class="limoniapps-close-x">×</div>
        </a>
        <div class="limoniapps-minimize">
          <i class="limoniapps-minimize-min fa fa-angle-down maximized" aria-hidden="true"></i>
          <i class="limoniapps-minimize-max fa fa-angle-up minimized" aria-hidden="true"></i>
        </div>
      </div>
      <div class="limoniapps-col-image maximized">
        <div class="limoniapps-image"></div>
      </div>
      <div class="limoniapps-col-info">
        <div class="limoniapps-title maximized">
          <span class="text-wrapper">[[HEADER]]</span>
        </div>
        <div class="limoniapps-title minimized">
          <span class="text-wrapper">[[MINIMIZED]]</span>
        </div>
        <div class="limoniapps-message limoniapps-message-body maximized">
          <span class="text-wrapper">[[BODY]]</span>
        </div>
        <div class="limoniapps-message limoniapps-message-footer maximized">
          <span class="text-wrapper">[[FOOTER]]</span>
        </div>
        <div class="limoniapps-message limoniapps-message-timerfooter maximized">
          <span class="text-wrapper">[[TIMER_FOOTER]]</span>
        </div>
        <a class="limoniapps-poweredby limoniapps-notify-poweredby limoniapps-poweredby-hidden maximized" target="_blank" href="http://limoniapps.com">Powered By Discount Ninja</a>
      </div>
    </div>
  </div>
</div>