.sale-title{
  color: red !important;
}

a.top_link[href="/collections/valentines-day"],
a.parent-link--true[href="/collections/valentines-day"] {
  color: red;
}

a.top_link[href="/collections/light-pink-hearts"]::after,
a.parent-link--true[href="/collections/light-pink-hearts"]:after{
  background-image: url('https://cdn.shopify.com/s/files/1/0563/2271/9910/files/Ribbon.png?v=1634187935');
  display: inline-block;
  width: 20px;
  position: absolute;
  height: 40px;
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  top: 50%;
  transform: translateY(-50%);
  left: 30px;
}

/* 

.bold_option_value .bold_option_swatch_title{
  background: white;
  height: 150px !important;
  width: 140px;
  width: 250px;
  height: 250px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0px;
}

.bold_option_value .bold_option_swatch_title .bold_option_value_title{
  font-size: 0px;
}

.bold_option_value:hover .bold_option_swatch_title{
  opacity: 1;
} */


@media (max-width: 767px) {
  .bold_option.bold_option_displaytext {
    display: flex;
    flex-direction: column;
  }
  .image-bold{
    margin-bottom: 20px;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .bold_option.bold_option_displaytext {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .image-bold{
    margin-right: 10px;
    width: 150px;
  }
}

.bold_option.bold_option_displaytext.bold_option_hidden {
  display: none;
}


.label-product {
  font-weight: bold;
}

.birthday a,
li[data-mobile-dropdown-rel="birthday"] a{
  background-image: linear-gradient(100deg, rgba(5,252,152,1) 0%, rgba(16,153,255,1) 33%, rgba(255,109,198,1) 66%, rgba(255,255,100,1) 100%);
  background-image: -webkit-gradient(100deg, rgba(5,252,152,1) 0%, rgba(16,153,255,1) 33%, rgba(255,109,198,1) 66%, rgba(255,255,100,1) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}


.birthday a:hover,
.birthday a:focus,
li[data-mobile-dropdown-rel="birthday"] a:hover,
li[data-mobile-dropdown-rel="birthday"] a:focus{
  background-image: linear-gradient(278deg, rgba(5,252,152,1) 0%, rgba(16,153,255,1) 33%, rgba(255,109,198,1) 66%, rgba(255,255,100,1) 100%);
  background-image: -webkit-gradient(278deg, rgba(5,252,152,1) 0%, rgba(16,153,255,1) 33%, rgba(255,109,198,1) 66%, rgba(255,255,100,1) 100%);
}


.vertical-menu .just-in a,
#mobile_menu li[data-mobile-dropdown-rel="just-in"] a{
  color:  #2ecc7e;
  font-weight: bold;
}
